{% extends "root_template.html" %}

{% block content %}

<h3>Add Journal Entry</h3>

<form method='POST'>
	<div class="container success">

	<div class="input-group col-lg-8">
		<input type="text" class="form-control" name="title" placeholder="Title" value ="{{post.title}}">
	</div>
	<br>
	<div class="input-group col-lg-8">
		<textarea class="form-control" rows="7" name="text" placeholder="Entry">{{post.text}}</textarea>
	</div>
	<br>
	<div class="input-group col-lg-8">
		<input type="submit" value="Update Entry" class="btn btn-outline-success">
	</div>
</form>

<br><br>

{% endblock content %}