{% extends "root_template.html" %}

{% block content %}
	<h1>Your Entries</h1>
	<br>
	{% for p in post %}
		<div class="border rounded p-3"/;
>
			<h4><b><a href="/{{p.post_id}}">{{p.title}}</a></b></h4>
			<hr>
				{% if p.date_posted %}
					<p><b>Written on {{p.date_posted.date().strftime('%d/%m/%Y')}}</b></p>
				{% endif %}
			<p>{{p.text}}</p>
			<p><small><a href="/del/{{p.post_id}}">Delete</a></small>&nbsp &nbsp<small><a href="/edit/{{p.post_id}}">Edit</a></small></p>
		</div>
		<br>
	{% endfor %}
{% endblock content %}